/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");

/* --- Components design --- */
@import url("components/button.css");
@import url("components/list.css");
@import url("components/image.css");

/* --- Fonts --- */
body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(20, 20, 20);
  font-size: 15px;
  line-height: 1,5em;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(20, 20, 20);
  font-weight: 700;
}

/*J'ai renommé les 4 principales div de la page
A faire en priorité : modifier 'My favorite places' avec une flexbox
Modifier le footer*/

/* --- Links --- */
a {
  color: #7c6d5c;
  text-decoration: none;
  opacity: 0.7;
}
a:hover {
  opacity: 1;
}

/* --- Layout --- */
.wrapper {
  /*background-color: rgb(201, 177, 155);*/
  background-image: linear-gradient(-230deg, rgba(201,177,155, 0.6) 0%, rgba(242, 223, 205, 0.6) 40%);
  margin: 0px;
  padding: 10px;
}

.container {
  max-width: 700px;
  margin: 20px auto;
}

.card-white {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(180, 180, 180);
  padding: 20px;
  border: 1.5px solid lightgrey;
  margin-bottom: 20px;
  border-radius: 4px;
}

.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

.list-inline {
  padding-left: 0px;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
/* --- Social Media FA --- */
.social-logo {
  color: #7c6d5c;
  font-size: 25px;
  font-weight: bold;
  padding: 0px 40px;
  margin-bottom: 5px;
}

/* --- Responsive --- */
@media(max-width: 700px) {
  .container {
    width: 500px;
  }
  h3 {
    font-size: 14px;
    margin-bottom: 2px;
    padding-bottom: 2px;
  }
  td:first-child {
    width: 150px;
  }
  .text-description {
  font-size: 12px;
  line-height: 1.2;
  }
  .social-logo {
  font-size: 14px;
  padding: 0px 20px;
  }
}

@media(max-width: 500px) {
  .container {
    width: 400px;
  }
  .profile-header p {
    font-size: 12px;
  }
  h3 {
    font-size: 12px;
    margin-bottom: 1px;
    padding-bottom: 1px;
  }
  td:first-child {
    width: 100px;
  }
  .text-description {
  font-size: 9.5px;
  line-height: 1;
  }
  .social-logo {
  font-size: 12px;
  padding: 0px 5px;
  }
}
