body {
  background-color: rgb(240, 240, 240);
  font-family: 'Open Sans', sans-serif;
  color: rgb(20, 20, 20);
  font-size: 15px;
  line-height: 1,5em;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(20, 20, 20);
  font-weight: 700;
}

a {
  color: #7c6d5c;
  text-decoration: none;
  opacity: 0.7;
}
a:hover {
  opacity: 1;
}

td:first-child {
  width: 280px;
  padding: 5px 10px 5px 0px;
}

.img-circle {
  border-radius: 50%;
}

.img-place {
  width: 100%;
  border-radius: 4px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-description {
  color: rgb(20, 20, 20);
  font-size: 14px;
  font-style: italic;
  line-height: 1.5;
}

.container {
  width: 700px;
  margin: 20px auto;
}

@media(max-width: 700px) {
  .container {
    width: 500px;
  }
  h3 {
    font-size: 14px;
    margin-bottom: 2px;
    padding-bottom: 2px;
  }
  td:first-child {
    width: 150px;
  }
  .text-description {
  font-size: 11px;
  line-height: 1.2;
  }
}

@media(max-width: 500px) {
  .container {
    width: 400px;
  }
  h3 {
    font-size: 12px;
    margin-bottom: 1px;
    padding-bottom: 1px;
  }
  td:first-child {
    width: 100px;
  }
  .text-description {
  font-size: 10px;
  line-height: 1;
  }
}

.card-white {
  background-color: white;
  box-shadow: 1px 1px 2px rgb(200, 200, 200);
  padding: 20px;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
  border-radius: 4px;
}

.btn-contact {
  font-size: 14px;
  font-style: oblique;
  background-color: #B39D85;
  color: rgb(10, 10, 10);
  margin-top: 50px;
  padding: 8px 12px;
  border-radius: 8px;
  opacity: 1;
}
.btn-contact:hover {
  opacity: 0.8;
}

.list-inline {
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
.box-inline {
  width: 100%;
  display: table;
  margin-bottom: 30px;
}

.box-inline  > h2 {
  width: 250px;
}

.box-item {
  display: table-cell;
  vertical-align: middle;
}

.logo-places {
  width: 30%;
}

.social-logo {
  font-size: 16px;
  padding: 0px 50px;
}

.contact-me {
  margin-top: 25px;
  margin-bottom: 10px;
}

 #profile-pic {
  width: 200px;
  height: 189px;
 }

#profile-icon {
  width: 7%;
}
